<img src="/public/assets/burger.png" alt="burger">

<h1>Eat-Da-Burger!</h1>

<div>
    <div class="left-list">
        <ul>
            {{#each burger}}
            {{#if this.devoured == 0}}
            <li>
                <p>
                    {{this.id}}. {{this.burger}}
                    <br>
                    <button type="submit" data-burgerid="{{this.id}}" class="devourburger">Devour!</button>
                    <button type="submit" class="delete-burger" data-burgerid="{{this.id}}">DELETE!</button>
                </p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <div class="right-list">
        <ul>
            {{#each burger}}
            {{#if this.devoured == 1}}
            <li>
                <p>
                    {{this.id}}. {{this.burger}}
                    <button class="delete-burger" data-burgerid="{{this.id}}">DELETE!</button>
                </p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<h2>Add a Burger</h2>
<form id="createBurger" class="button-size">
    <textarea type="text" name="Burger"></textarea><br>
    <button type="submit">Add Burger!</button><br>
</form>

<script>
    $(".devourburger").on("submit", function (event) {
        console.log("this button was clicked!");
        event.preventDefault();
        $.ajax("/api/burgers", {
            method: "PUT"
        }).then(function () {
            location.reload();
        });
    });
    $("#createBurger").on("submit", function (event) {
        console.log("this button was clicked!");
        event.preventDefault();
        var newBurger = {
            burger: $("#createBurger [name=Burger]").val().trim()
        };
        $.ajax("/api/burgers/" + id, {
            method: "POST",
            data: newBurger
        }).then(function () {
            location.reload();
        });
    });
    $(".delete-burger").on("submit", function (event) {
        console.log("this button was clicked!");
        event.preventDefault();
        $.ajax("/api/burgers/" + id, {
            method: "DELETE"
        }).then(function () {
            location.reload();
        });
    });
</script>