<div class="row">
    <img src="/assets/burger.png" alt="burger" width="250px" height="250px">
</div>
<div class="row">
    <h1>Eat-Da-Burger!</h1>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div>
            <div class="left-list">
                <h2>Uneaten Burgers</h2>
                <ol>
                    {{#unless devoured}}
                    {{#each burger}}
                    <li>
                        <p>
                            {{this.burger}}
                            <br>
                            <button data-burgerid="{{this.id}}" id="devourburger">DEVOUR!</button>
                            <button id="delete-burger" data-burgerid="{{this.id}}">DELETE!</button>
                        </p>
                    </li>
                    {{/each}}
                    {{/unless}}
                </ol>
            </div>
            <div class="right-list">
                <h2>Eaten Burgers</h2>
                <ol>
                    {{#each burger}}
                    {{#if devoured}}
                    <li>
                        <p>
                            {{this.burger}}
                            <button id="delete-burger" data-burgerid="{{this.id}}">DELETE!</button>
                        </p>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row middle-burger-thing center">
    <h2>Add a Burger</h2>
    <form id="createBurger" class="button-size">
        <textarea type="text" name="Burger"></textarea><br>
        <button id="createBurger">Add Burger!</button><br>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    $(function () {
        $("#devourburger").on("click", function (event) {
            event.preventDefault();
            console.log(this);
            var id = $(this).attr("[data-burgerid]");
            console.log(id);
            var newDevoured = $(this).data("newdevoured");
            var newDevouredState = {
                devoured: newDevoured
            };
            console.log(newDevouredState);
            $.ajax("/api/burgers/" + id, {
                method: "PUT",
                data: newDevouredState
            }).then(function () {
                location.reload();
            });
        });
        $("#createBurger").on("click", function (event) {
            event.preventDefault();
            var newBurger = {
                burger: $("#createBurger [name=Burger]").val().trim(),
                devoured: false
            };
            $.ajax("/api/burgers/" + id, {
                method: "POST",
                data: newBurger
            }).then(function () {
                location.reload();
            });
        });
        $("#delete-burger").on("click", function (event) {
            var id = $(this).data("id");
            event.preventDefault();
            $.ajax("/api/burgers/" + id, {
                method: "DELETE"
            }).then(function () {
                location.reload();
            });
        });
    });
</script>